/* Variables de couleurs */
$primary-color: #4A90E2;
$secondary-color: #ADD8E6;
$text-color: #333;
$violet-color: #800080; /* Couleur violette pour les boutons de langage */
$violet-hover-color: lighten($violet-color, 20%); /* Violet éclairci au survol */
$background-color: #f4f4f9;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$hover-color: #357ABD;
$font-family: 'Vollkorn', serif;

/* Section globale pour les projets */
.projects-section {
  padding: 50px 20px;
  background-color: $background-color;

  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    margin-bottom: 40px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour 3 cartes */
    gap: 40px; /* Espacement entre les cartes */
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Responsive styles */
  @media (max-width: 1024px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les écrans plus petits */
    }
  }

  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: 1fr; /* 1 colonne sur les petits écrans */
    }
  }
}

/* Style des cartes de projet */
.project-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px $card-shadow-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espace entre le contenu et les boutons */
  height: 100%; /* Assure que la carte occupe toute la hauteur disponible */
  padding: 10px;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px $card-shadow-color;
  }

  h3 {
    font-size: 1.8rem;
    color: $primary-color;
    font-family: 'Oxanium', sans-serif;
  }

  p {
    color: $text-color;
    font-size: 1.2rem;
  }

  .project-languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .project-language {
    background-color: $violet-color;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $violet-hover-color;
    }
  }

  .project-image {
    width: 100%;
    object-fit: cover;
    margin: 20px 0;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Pousse les boutons vers le bas */
  }

  .btn {
    background-color: $primary-color;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }
  }

  .github-btn {
    background-color: #333;

    &:hover {
      background-color: #555;
    }
  }
}
