@import '../../styles/Variables.scss';

/* Projets */
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: $background-color;

  h2 {
    margin-bottom: 40px;
    color: $primary-color;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Utilisation de auto-fit et minmax */
    gap: 30px; /* Espace entre les cartes */
    max-width: 1200px; /* Taille maximale de la grille */
    width: calc(100% - 60px); /* Prend toute la largeur avec une marge de 30px à gauche et à droite */
    padding: 20px 0; /* Ajoute du padding en haut et en bas */
    margin: 0 auto;
  }

  .project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px $card-shadow-color;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Prend toute la largeur disponible */
    height: 300px; /* Ajustez selon vos besoins */
    max-width: 400px; /* Taille maximale pour chaque carte */
    
    &:hover {
      transform: scale(1.05); /* Zoom au survol */
      box-shadow: 0 6px 12px $card-shadow-color;

      .project-info {
        opacity: 1; /* Afficher les détails au survol */
        visibility: visible;
      }
    }

    .project-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .project-info {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      opacity: 0; /* Masqué par défaut */
      visibility: hidden; /* Masqué par défaut */
      z-index: 2;

      .project-details {
        display: block;
        text-align: left;
        font-size: 0.9em;
        margin-top: 10px;
        padding: 0 20px 20px 20px;
      }

      .btn-container {
        display: flex;
        flex-direction: column; /* Empile les boutons verticalement */
        align-items: flex-start;
        gap: 10px;
        margin-top: 20px;

        .btn {
          background-color: $primary-color;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: lighten($primary-color, 10%);
          }
        }

        .github-btn {
          background-color: #333; /* Bouton GitHub noir */
          transition: background-color 0.3s ease;

          &:hover {
            background-color: lighten(#333, 10%); /* Éclaircir la couleur noire */
          }
        }
      }
    }

    .project-name {
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 3;
      color: white;
      font-size: 1.2em;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

/* Media queries pour ajuster le nombre de cartes par ligne */
@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adaptation fluide pour les tablettes */
  }

  .project-card {
    max-width: 100%; /* Permet aux cartes d'utiliser plus d'espace sur les tablettes */
  }
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Transition fluide entre tablette et smartphone */
  }

  .project-card {
    max-width: 100%; /* S'assurer que les cartes utilisent toute la largeur disponible */
  }

  .project-image {
    height: 150px; /* Ajuster la hauteur de l'image pour les petits écrans */
  }
}

@media (max-width: 480px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Une seule carte par ligne sur les smartphones */
  }

  .project-image {
    height: 150px; /* Réduction supplémentaire pour les petits écrans */
  }
}
