@import'./Variables.scss';

/* Reset et base pour tout le site */
body {
  font-family: 'Vollkorn', serif;
  background-color: $neutral-gray; /* Fond gris neutre */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxanium', sans-serif;
}

#root{
  display: flex;
  flex-wrap: wrap;
}

.App{
  max-width: 1440px;
  margin: auto;
  width: 100%;
}