@import url('https://fonts.googleapis.com/css?family=Oxanium:700%7CVollkorn:400');

/* Variables du nuancier */
$primary-blue: #4A90E2;
$dark-purple: #6A0DAD;
$light-lavender: #B19CD9;
$light-blue: #ADD8E6;
$neutral-gray: #F0F0F5;

/* Conteneur global */
.container {
  max-width: 1440px;   /* Limiter la largeur maximale à 1440px */
  margin: 0 auto;      /* Centrer le contenu */
  padding: 0 20px;     /* Ajouter un peu de padding pour éviter que le contenu touche les bords de l'écran */
  box-sizing: border-box; /* S'assurer que le padding est inclus dans la taille totale de l'élément */
}

/* Style global */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Empêcher le défilement horizontal */
  box-sizing: border-box;
  width: 100%;
}


h1, h2, h3, h4, h5 {
  font-family: 'Oxanium', sans-serif;
}