@import url('https://fonts.googleapis.com/css?family=Oxanium:700%7CVollkorn:400');

/* Variables du nuancier */
$primary-blue: #4A90E2;
$dark-purple: #6A0DAD;
$light-lavender: #B19CD9;
$light-blue: #ADD8E6;
$neutral-gray: #333333;
/* Variables de couleurs */
$primary-color: #4A90E2;
$secondary-color: #ADD8E6;
$text-color: #333;
$violet-color: #800080; /* Couleur violette pour les boutons de langage */
$violet-hover-color: lighten($violet-color, 20%); /* Violet éclairci au survol */
$background-color: #333333;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$hover-color: #357ABD;
$black-carbone:#130E0A;
$carbon-black: #333333;
$carbon-black-hover: lighten($carbon-black, 20%);
$font-family: 'Vollkorn', serif;