
@import url('https://fonts.googleapis.com/css?family=Oxanium:700%7CVollkorn:400');

/* Variables de Couleurs Uniques */
$primary-blue: #4A90E2;
$dark-purple: #6A0DAD;
$light-lavender: #B19CD9;
$light-blue: #ADD8E6;
$neutral-gray: #f8f8ff;
$violet: #800080;
$hover-blue: #357ABD;
$black-carbone: #130E0A;
$box-shadow: gray;
$font-family: 'Vollkorn', serif;