@import '../../styles/Variables.scss'; /* Section des compétences */

.skills-container {
  list-style-type: none; /* Supprime les puces par défaut */
  padding: 0; /* Supprime le padding par défaut */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les badges */
  margin-top: 20px;
}

.skill-badge {
  position: relative; /* Position relative pour le nom */
  display: flex;
  flex-direction: column; /* Positionne les éléments en colonne */
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre les éléments verticalement */
  background-color: $primary-blue; /* Couleur de fond du "bouton" */
  color: white;
  padding: 20px; /* Ajustement du padding */
  border-radius: 30px; /* Bordure arrondie pour ressembler à un bouton */
  transition: background-color 0.3s ease; /* Transition pour l'arrière-plan */

  &:hover {
    background-color: lighten($primary-blue, 10%); /* Couleur au survol avec lighten() */
  }

  /* Style pour l'icône */
  .skill-icon {
    font-size: 3rem; /* Ajustez la taille de l'icône */
    transition: opacity 0.3s ease; /* Transition pour l'apparition */
    visibility: visible; /* Afficher l'icône par défaut */
    opacity: 1; /* Rendre l'icône visible par défaut */
  }

  /* Style pour le nom */
  .skill-name {
    font-size: 1.5rem; /* Taille du texte du nom */
    text-align: center; /* Centre le texte sous l'icône */
    position: absolute; /* Position absolue pour superposition */
    top: 50%; /* Positionne le nom au centre vertical */
    left: 50%; /* Centre le texte horizontalement */
    transform: translate(-50%, -50%); /* Centre le texte */
    visibility: hidden; /* Masque le nom par défaut */
    opacity: 0; /* Rendre le texte invisible */
    transition: visibility 0s, opacity 0.3s ease; /* Transition pour l'apparition */
  }

  /* Cacher l'icône et afficher le nom au survol */
  &:hover .skill-icon {
    visibility: hidden; /* Cacher l'icône au survol */
    opacity: 0; /* Rendre l'icône invisible */
  }

  /* Afficher le nom au survol */
  &:hover .skill-name {
    visibility: visible; /* Rendre le nom visible au survol */
    opacity: 1; /* Rendre le texte visible */
  }
}

/* Style pour le titre */
h2 {
  font-size: 3rem; /* Augmentation de la taille du titre */
  color: #4A90E2;
  text-align: center;
  font-family: 'Oxanium', sans-serif;
}
