@import'../../styles/Variables.scss';

/* Section de contact */
#contact {
  padding: 50px 20px;
  max-width: 800px; /* Limite la largeur du formulaire */
  margin: 0 auto; /* Centre le formulaire */
  
  h2 {
    font-size: 2.5rem;
    color: $primary-blue;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oxanium', sans-serif;
  }

  /* Ajuster le bouton "Envoyer" */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    input, textarea {
      padding: 15px;
      font-size: 1rem;
      border: 2px solid $neutral-gray;
      border-radius: 5px;
      font-family: $font-family;
      resize: none; /* Désactive le redimensionnement du textarea */
      transition: border-color 0.3s ease;
  
      &:focus {
        outline: none;
        border-color: $neutral-gray;
      }
    }
  
    textarea {
      height: 150px; /* Taille par défaut du textarea */
    }
  
    .btn {
      background-color: $primary-blue;
      color: white;
      padding: 15px;
      font-size: 1.1rem;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%; /* Le bouton prend toute la largeur du formulaire */
      max-width: 300px; /* Limite la largeur maximale du bouton */
      margin: 0 auto; /* Centre le bouton dans le formulaire */
  
      &:hover {
        background-color: lighten($primary-blue, 10%);
      }
    }
  }
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
  #contact {
    padding: 40px 10px;

    form {
      input, textarea {
        font-size: 0.9rem;
      }

      .btn {
        font-size: 1rem;
      }
    }
  }
}
