@import '../../styles/Variables.scss';

/* Barre de navigation */
.navbar {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  top: 0;
  background-color: $primary-blue;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacement entre les éléments */
    margin: 0;
    padding: 0;

    li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2rem;
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        color: $light-lavender;
      }
    }
  }
}

/* Media queries pour les petits écrans */
@media (max-width: 480px) {
  .navbar {
    display: none; /* Cache complètement la barre de navigation */
  }
}
