@import'../../styles/Variables.scss';

.footer {
  background-color: $primary-blue; /* Remplace $primary-blue par une valeur de couleur réelle */
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;

  p {
    margin: 0;
    font-family: 'Vollkorn', serif;
  }
}
